.leftcontainer {
    float: left;
    margin: 5px;
    width: 40%;
    vertical-align: center;

}

.rightcontainer {
    padding-top: 40px;
    padding-bottom: 40px;
    background:rgba(0, 0, 0, .5);
    float: right;
    margin: 5px;
    width: 50%;
    text-align: center;
    display: inline-block;
}

.forgotpwd {
    opacity: 50%;
}

.topbar {
    background-color: grey;
    height: 75px;
}

.topbarwlc {
    text-align: center;
    align-items: center;
}